@import "../../style-config/variable.scss";
@import "../../style-config/mixin.scss";

.skills-content-wrapper {
    display: flex;
    align-items: center;
    @include small-sreen{
        flex-direction: column;
    }
    .left-col {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 40%;
        @include small-sreen{
            width: 100%;
            margin: auto;
        }
        img {
            display: block;
            width: 100%;
            max-width: 453px;
            @include small-sreen{
                margin: auto;
            }
        }
    }
    .right-col {
        width: 60%;
        color: $white;
        margin-left: 70px;
        @include small-sreen{
            width: 100%;
            margin: 50px 0 0 0;
        };

        h2 {
            margin-bottom: 30px;
        }
        p {
            @include typography(18px, 400, 24px);
            margin-bottom: 15px;
            @include small-sreen{
                text-align: center;
            }
        }
        @include small-sreen{
            .call-to-action{
                margin: 20px auto;
            }
        }
    }
}
